:root {
    --background:  #FFFFFF;
    --foreground-1: #E7E9EB;
    --foreground-2: #C1C3C4;
    --foreground-3: #A4A6A8;
    --foreground-4: #9A9C9E;
    --text-color: #000000;
    --funny-color: #90c058;
    --link-color: #4c89ff;
    --padding-large: 30px;
    --padding: 10px;
    --transition-speed: 0.1s;
    --logo-size : 2rem;
    --logo-sun-display : none;
    --logo-moon-display : block;

}

[data-theme="dark"]{
    --background: #171717;
    --foreground-1: #212121;
    --foreground-2: #2F2F2F;
    --foreground-3: #303030;
    --foreground-4: #424242;
    --text-color: #FFFFFF;
    --funny-color: #90c058;
    --link-color: #4c89ff;
    --logo-sun-display : block;
    --logo-moon-display : none;
}

a, a:link, a:visited{
    color:var(--link-color);
    text-decoration: none;
    transition: color var(--transition-speed) ease;
}

a:hover{
    color: var(--funny-color);
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--background);
    color: var(--text-color);

}

.title-flexbox{
    display: flex;
    padding-top: var(--padding-large);
    flex-direction:row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.navbar-flexbox-right{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 0;
    padding: var(--padding);
    gap: var(--padding);
    flex-wrap: wrap;
}

.navbar-flexbox-left{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 0;
    gap: var(--padding);
    flex-wrap: wrap;

}

.navbar-flexbox-vertical{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 0;
    padding: var(--padding);
}

.name-flexbox{
    display: flex;
}

.paragraph_1{
    padding: var(--padding-large);
}

.paragraph_1 p{
    padding: var(--padding);
}

.portrait{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: solid var(--text-color) 5px;
    margin: var(--padding-large);
}

.footer{
    padding: var(--padding-large);
    color: var(--foreground-4);
}

.center{
    margin: auto;
    max-width: 800px;
    background-color: var(--foreground-1);
}



#moon_svg_logo{
    display: var(--logo-moon-display );
    cursor: pointer;
}

#sun_svg_logo{
    display: var(--logo-sun-display);
    cursor: pointer;
}

.padding_top{
    padding-top: var(--padding);
}

.funny_color{
    color: var(--funny-color);
}

.text_svg{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: var(--logo-size);
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--foreground-4);
    border-radius: var(--padding);
    border: none;
    color: var(--foreground-1);
    transition: background-color var(--transition-speed) ease;
}

.text_svg:hover{
    background-color: var(--text-color);
    cursor: pointer;
}

.svg_button{
    display: inline-block;
    width: var(--logo-size);
    height: var(--logo-size);
    background-color: transparent;
    border: none;
}

.svg_logo_fill{
    width: 100%;
    height: 100%;
    fill: var(--foreground-4);
    color:var(--foreground-4);
    transition: fill var(--transition-speed)  ease;
    transition: color var(--transition-speed) ease;
}

.svg_logo_stroke{
    width: 100%;
    height: 100%;
}

.svg_logo_stroke *{
    stroke: var(--foreground-4);
    transition: stroke var(--transition-speed)  ease;
}

.svg_logo_fill:hover{
    fill: var(--text-color);
    color: var(--text-color);
}

.svg_logo_stroke:hover *{
    stroke: var(--text-color);
}